.modal-button {
    border-style: none;
    width: 200px;
    padding: 10px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px 0px;
    min-width: 528px;
    background-color: #fff;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border:  1px solid rgba(33, 33, 33, 0.2);
    cursor: pointer;
}

.modal_close_btn:hover {
    fill: #2196F3;
    border:  1px solid #2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal_close_btn:focus {
    outline: #FFFFFF;
}

.close-modal {
    position: absolute;
    top: 6px;
    right: 5px;
    width: 18px;
    height: 18px;
}

.modal-text {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
}

.form-field {
    position: relative;
    display: block;
    margin-bottom: 28px;
}

.form-label {
    position: absolute;
    top: 50%;
    left: 85px;
    transform: translateY(-50%);
    transition: transform 250ms linear;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #757575;
}

.form-input {
    width: 348px;
    margin: 0;
    padding: 12px 50px;
    background: #FFFFFF;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.svg-icon-form {
    position: absolute;
    top: 30%;
    left: 58px;
    transition: translateY(-50%);
    display: inline-block;
    width: 18px;
    height: 18px;
}

.form-input:focus:required,
.form-input-textarea:focus:required {
    outline-color: #2196F3;
}

.form-field:focus-within > .svg-icon-form {
    fill: #2196F3;
}

.form-field:focus-within > .form-label {
    transform: translateY(-40px) translateX(-40px);
    padding-left: 10px;
    color: #2196F3;
    font-size: 12px;
}

.form-input:not(:placeholder-shown) + .form-label {
    transform: translateY(-40px) translateX(-40px);
    font-size: 12px;   
}

.comment {
    margin-bottom: 20px;
}

.form-label-textarea {
    position: absolute;
    top: 20px;
    left: 58px;
    transition: translateY(-50%);
    transition: transform 250ms linear;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #757575;
}

textarea {
    padding: 10px;
    resize: none;
    width: 428px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.form-field:focus-within > .form-label-textarea {
    transform: translateY(-40px) translateX(-40px);
    padding-left: 30px;
    color: #2196F3;
    font-size: 12px;
}

.form-input-textarea:not(:placeholder-shown) + .form-label-textarea {
    transform: translateY(-40px) translateX(-40px);
    padding-left: 30px;
}

.form-color-link {
    color: #2196F3;    
}

.form-field-checkbox {
    margin-bottom: 30px;
}

.check-container {
    margin-bottom: 30px;
}

.option {
    display: inline-flex;
    margin-bottom: 0.25em;
}
  
.check {
    padding-left: 1.2em;
}
  
.check_box_text {
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #757575;
}

.check_input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
  
.check_box {
    position: absolute;
    margin-left: -1.2em;
    width: 1em;
    height: 1em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Crect x='3' y='3' width='14' height='14' fill='%23fff' stroke='%234a90e2' stroke-width='2' rx='2'/%3E%3C/svg%3E");
  
}

.check_input:checked + .check_box {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Crect x='2' y='2' width='16' height='16' fill='%234A90E2' rx='3'/%3E%3Cpolyline fill='none' stroke='%23fff' stroke-width='3' points='5 9 9 13 15 6'/%3E%3C/svg%3E");
}

.check_input:focus + .check_box {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Crect width='20' height='20' fill='%237ed321' rx='4'/%3E%3Crect width='14' height='14' x='3' y='3' fill='%23fff' stroke='%234a90e2' stroke-width='2' rx='2'/%3E%3C/svg%3E");
}

.check_input:checked:focus + .check_box {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Crect width='20' height='20' fill='%237ed321' rx='4'/%3E%3Crect width='16' height='16' x='2' y='2' fill='%234a90e2' rx='3'/%3E%3Cpolyline fill='none' stroke='%23fff' stroke-width='3' points='5 9 9 13 15 6'/%3E%3C/svg%3E");
}