%skyblue-color {
    color: #2196f3;
}
  
%skyblue-background-color {
    background-color: #2196f3;
}
  
%skyblue-fill {
    fill: #2196f3;
}
  
%skyblue-border {
    border: 1px solid #2196f3;
}
  
%whitegrey-background-color {
    background-color: #F5F4FA;
}

%grey-color {
    color: #757575;
}

%white-color {
    color: #FFFFFF;
}

%white-background-color {
    background-color: #FFFFFF;
}